<div class="col-md-4 mt10">
        <div class="post-img">
           {% if page.img %}
            <img width="600" src="{{site.url}}{{page.img}}" alt="{{page.title}}">
            {% else %}
            <img width="600" src="{{site.baseurl}}/images/{{site.default-image}}" alt="jellie's bakery | loving food with kelly zhang">
            {% endif %}
        </div>

        <div class="mt10"><div class="sharethis-inline-share-buttons"></div></div>

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sidebar ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1420607794069425"
     data-ad-slot="3582368274"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

        <br>

</div>
