{% if site.talkyard_server_url %}
<script>talkyardServerUrl='{{ site.talkyard_server_url }}';</script>
<script async defer src="{{ site.talkyard_script_url }}"></script>
<!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
<div class="talkyard-comments" data-discussion-id="{{ page.discussion_id }}" style="margin-top: 8px;">
<noscript>Please enable Javascript to view comments.</noscript>
<p style="margin-top: 8px; opacity: 0.9; font-size: 96%">Comments powered by
<a href="https://www.talkyard.io">Talkyard</a>.</p>
</div>
{% endif %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-1420607794069425"
     data-ad-slot="3773832168"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
