---
layout: default
---

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",

  "mainEntityOfPage": {
     "@type": "blogPost",
     "@id": {{page.baseurl | jsonify}}
      },

  "dateModified": {{ page.date | jsonify }},
  "datePublished": {{ page.date | jsonify }},
  "publisher": "Hi I'm Kelly and I Love My Life",

  "author": {{ page.author | jsonify }},
  "keywords": {{ page.keywords | jsonify }},
  "description": {{ page.excerpt | jsonify }},
  "image": "http://kellyzhang.me/food/images/{{ page.img }}",

  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": "http://schema.org/Comment",
    "userInteractionCount": {{ page.comments | jsonify }}
    },

  "name": {{page.title | jsonify}},
  "headline": {{page.title | jsonify}}

}
</script>

<div class="row">
<div class="col-md-8">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • {{ page.author }}{% endif %}</p>
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

    </article>
    <div class="row">
        {% if site.disqus-shortname %}
         {% include disqus.html %}
        {% endif %}
    </div>


    <div class="row">
            <ul class="pager">
             {% if page.next.url %}
                    <li><a class="next" href="{{page.next.url | prepend: site.baseurl}}">&laquo; {{page.next.title}}</a></li>
              {% endif %}
              {% if page.previous.url %}
                <li><a class="previous" href="{{page.previous.url | prepend: site.baseurl}}">{{page.previous.title}} &raquo;</a></li>
              {% endif %}
            </ul>
    </div>
</div>


{% include sidebar.html %}

</div>


{% include fb-script.html %}
