---
layout: default
---

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",

  "mainEntityOfPage": {
     "@type": "Recipe",
     "@id": {{page.baseurl | jsonify}},

  "dateModified": {{ page.date | jsonify }},
  "datePublished": {{ page.date | jsonify }},
  "publisher": "Hi I'm Kelly and I Love Food",

  "author": {{ page.author | jsonify }},
  "keywords": {{ page.keywords | jsonify }},
  "description": {{ page.excerpt | jsonify }},
  "image": "https://kellyzhang.me/food/images/{{ page.img }}",

  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": "http://schema.org/Comment",
    "userInteractionCount": {{ page.comments | jsonify }}
    },

  "name": {{page.title | jsonify}},
  "headline": {{page.title | jsonify}},

  "cookTime": {{page.cooktime | jsonify}},
  "prepTime": {{page.preptime | jsonify}},
  "totalTime": {{page.totaltime | jsonify}},
  "cookingMethod": {{page.cookingmethod | jsonify}},

  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": {{page.rating | jsonify}},
    "reviewCount": {{page.reviews | jsonify}}
  },

  "estimatedCost": {
    "@type": "MonetaryAmount",
    "currency": "CAD",
    "value": {{page.cost | jsonify}}
  },

  "nutrition": {
    "@type": "NutritionInformation",
    "calories": {{page.calories | jsonify}}
  },

  "recipeYield": {{page.servings | jsonify}},

  "recipeCategory": {{page.recipecategory | jsonify}},
  "recipeCuisine": {{page.cuisine | jsonify}},


  "recipeIngredient": {{ page.ingredients | jsonify }},

  "recipeInstructions": {{ page.instructions | jsonify }}

  },

  "dateModified": {{ page.date | jsonify }},
  "datePublished": {{ page.date | jsonify }},
  "publisher": {
    "@type": "Organization",
    "name": "Hi I'm Kelly and I Love My Life",
    "logo": {
      "@type": "ImageObject",
      "URL": "http://kellyzhang.me/food/images/logo.jpg"
    }
  },

  "author": {{ page.author | jsonify }},
  "keywords": {{ page.keywords | jsonify }},
  "description": {{ page.excerpt | jsonify }},
  "image": "https://kellyzhang.me/food/images/{{ page.img }}",

  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": "http://schema.org/Comment",
    "userInteractionCount": {{ page.comments | jsonify }}
    },

  "name": {{page.title | jsonify}},
  "headline": {{page.title | jsonify}}

}
</script>

<div class="row">

{% include sidebar.html %}

<div class="col-md-8">
    <article class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • {{ page.author }}{% endif %} • <a href="/food/print/{{ page.title }}"></a></p>

          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

    </article>

    <div class="row">

      <h2 class="post-title">Comments</h2>

        {% include talkyard-comments.html %}
    </div>


    <div class="row">
            <ul class="pager">
             {% if page.next.url %}
                    <li><a class="next" href="{{page.next.url | prepend: site.baseurl}}">&laquo; {{page.next.title}}</a></li>
              {% endif %}
              {% if page.previous.url %}
                <li><a class="previous" href="{{page.previous.url | prepend: site.baseurl}}">{{page.previous.title}} &raquo;</a></li>
              {% endif %}
            </ul>
    </div>
</div>

</div>
