---
layout: default
---

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Recipe",

  "mainEntityOfPage": {
     "@type": "blogPost",
     "@id": {{page.baseurl | jsonify}}
      },

  "dateModified": {{ page.date | jsonify }},
  "datePublished": {{ page.date | jsonify }},
  "publisher": "Hi I'm Kelly and I Love My Life",

  "author": {{ page.author | jsonify }},
  "keywords": {{ page.keywords | jsonify }},
  "description": {{ page.excerpt | jsonify }},
  "image": "http://kellyzhang.me/food/images/{{ page.img }}",

  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": "http://schema.org/Comment",
    "userInteractionCount": {{ page.comments | jsonify }}
    },

  "name": {{page.title | jsonify}},
  "headline": {{page.title | jsonify}},

  "cookTime": {{page.cooktime | jsonify}},
  "prepTime": {{page.preptime | jsonify}},
  "totalTime": {{page.totaltime | jsonify}},
  "cookingMethod": {{page.cookingmethod | jsonify}},
  "description": "A light and healthy casserole that doesn't taste healthy or light! You can eat a big portion without feeling guilty, or going into a food coma. Perfect as a main course or a side.",
  "image": "http://kellyzhang.me/food/images/recipe-creamy-cauliflower-cheese-bake.jpg",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4",
    "reviewCount": "7"
  },
  "recipeIngredient": [
    "1 yellow onion",
    "2 garlic cloves",
    "400 g dried lentils",
    "60 g spinach",
    "2 carrots",
    "4 celery stalks",
    "2 bay leaves",
    "0.5 tbsp dried thyme",
    "2 L water",
    "5 g chicken bouillon",
    "6 g salt"
  ],
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": "http://schema.org/Comment",
    "userInteractionCount": "140"
  },
  "name": "Savoury Lentil Soup in the Slow Cooker or Instant Pot",
  "estimatedCost": {
    "@type": "MonetaryAmount",
    "currency": "CAD",
    "value": "10"
  },
  "nutrition": {
    "@type": "NutritionInformation",
    "calories": "197 calories",
    "carbohydrateContent": "36.1 grams carbohydrate",
    "fiberContent": "6.6 grams fiber",
    "sugarContent": "3 grams sugar",
    "cholesterolContent": "0 milligrams cholesterol",
    "fatContent": "0.7 grams fat",
    "saturatedFatContent": "0.1 grams saturated fat",
    "unsaturatedFatContent": "0.1 grams unsaturated fat",
    "transFatContent": "6.6 grams trans fat",
    "proteinContent": "13.1 grams protein",
    "sodiumContent": "416.3 milligrams sodium",
    "servingSize": "1.5 cups"
  },

  "recipeCategory": "casserole",
  "recipeCuisine": "Canadian",
  "recipeInstructions": [{
    "@type": "HowToStep",
    "text": "Chop onion, carrot, and celery into small pieces. Roughly chop spinach. Mince garlic."
  },{
    "@type": "HowToStep",
    "text": "Turn instant pot to SAUTE mode on MORE. (If using the slow cooker method, heat a skillet on medium heat. Add 2 tbsp of water. Add onion and saute until most of the water is dried up."
  },{
    "@type": "HowToStep",
    "text": "Add garlic and saute until water is almost gone."
  },{
    "@type": "HowToStep",
    "text": "Add the rest of the ingredients to the Instant Pot. (If using slow cooker, add all ingredients including garlic and onion to the slow cooker.) Stir a few times."
  },{
    "@type": "HowToStep",
    "text": "Turn instant pot to SLOW COOK mode. Leave on MORE for at least 4 hours, NORMAL for 7 hours, or LOW for 9 hours. (For slow cooker, leave on HIGH for 4 hours or LOW for 8 hours.)"
  }],
  "recipeYield": "8 servings",
  "suitableForDiet": [
    "http://schema.org/VegetarianDiet",
    "http://schema.org/LowCalorieDiet",
    "http://schema.org/HalalDiet",
    "http://schema.org/HinduDiet",
    "http://schema.org/KosherDiet"
  ]
}
</script>

<div class="row">
<div class="col-md-8">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
            <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

    </article>
    <div class="row">
        {% if site.disqus-shortname %}
         {% include disqus.html %}
        {% endif %}
    </div>


    <div class="row">
            <ul class="pager">
             {% if page.next.url %}
                    <li><a class="next" href="{{page.next.url | prepend: site.baseurl}}">&laquo; {{page.next.title}}</a></li>
              {% endif %}
              {% if page.previous.url %}
                <li><a class="previous" href="{{page.previous.url | prepend: site.baseurl}}">{{page.previous.title}} &raquo;</a></li>
              {% endif %}
            </ul>
    </div>
</div>


{% include sidebar.html %}

</div>


{% include fb-script.html %}
